@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Serif+Display&family=Lobster&family=Nunito+Sans:opsz,wght@6..12,200&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster;
}
input:focus-visible{
outline: 0;
}
.main{
    /* width: 100%; */
   min-height: 100vh;
    background-color: rgb(147, 143, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 400px;
    padding: 10px;
    /* height:100vh; */
    box-shadow: 5px 5px 5px rgb(52, 119, 139);
    background: rgb(167, 233, 233);
    flex-direction: column;
    border-radius: 3px;
    margin-top: 10px;
}
#pass-box{
    width: 100%;
    display: block;
    background:rgb(158, 177, 145);
    font-size: 30px;
    padding: 10px;
    border-radius: 7px;
}
.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: rgb(21, 9, 9);
    font-size: 20px;
}
label{
    user-select: none;
}
#btn{
width: 100%;
font-size: 20px;
outline:0 ;
border: 0;
padding: 10px;
background-color: rgb(158, 177, 145);
margin-top: 10px;
border-radius: 5px;
}